---
import { ViewTransitions } from 'astro:transitions'
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import JOANNE from '../content/images/about/JOANNE.png'
import WORKSHOP from '../content/images/about/WORKSHOP.png'
import {
  ARTIST_STATEMENT_P1,
  ARTIST_STATEMENT_P2,
  ARTIST_STATEMENT_P3,
  HELLO,
} from '../content/strings'

// Landing page for LadyLooArt.com
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title class="">LadyLooArt</title>
    <ViewTransitions transition:animate={'fade'} />
  </head>
  <body class="overflow-auto">
    <Layout>
      <div class="flex-col">
        <!-- Hero Banner -->
        <div class="p-4 lg:p-8 w-full h-auto bg-gray-700 gap-4 items-center">
          <div class="flex gap-2 lg:gap-4">
            <div class="relative items-center flex w-4/5 mt-2 mb-2">
              <Image
                src={JOANNE}
                alt="Description"
                class="h-auto animate-appear"
              />
              <div
                class="absolute bottom-0 left-0 right-0 h-12 bg-gradient-to-t from-gray-700/100 to-transparent"
              >
              </div>
            </div>
            <div class="w-0.5 h-auto bg-white"></div>
            <div
              class="bg-white w-1/5 h-10 lg:h-20 text-center bg-opacity-90 mt-8 flex items-center justify-center"
            >
              <h1
                class="text-slate-500 text-sm md:text-lg lg:text-3xl font-bold"
              >
                {HELLO}
              </h1>
            </div>
          </div>
        </div>
        <!-- Content -->
        <div class="border-[12px] border-slate-500">
          <div
            class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 px-8 py-8 lg:p-12 xl:p-20 2xl:p-28 h-fit text-lg md:text-xl"
          >
            <!-- Left Column for Text -->
            <div
              class="font-serif 2xl:col-span-2 text-gray-950 text-justify lg:pr-8 text-xs lg:text-sm xl:text-base 2xl:text-lg"
            >
              <p class="">{ARTIST_STATEMENT_P1}</p>
              <p class="mt-4 mb-4">{ARTIST_STATEMENT_P2}</p>
              <p class="mt-4 mb-4">{ARTIST_STATEMENT_P3}</p>
              <div class="w-full h-0.5 my-6 bg-amber-400"></div>
            </div>

            <!-- Right Column for Image -->
            <div class="flex justify-center lg:justify-start">
              <Image
                src={WORKSHOP}
                alt="Description"
                class="max-h-[800px] w-auto object-contain animate-appear"
              />
            </div>
          </div>
        </div>
      </div>
    </Layout>
  </body>
</html>
