---
import { Image } from 'astro:assets'

interface Props {
  src: ImageMetadata
  alt: string
  hero?: boolean
  title?: string
  description?: string
  href?: string
  cardStyle?: string
  imageStyle?: string
}

const {
  src,
  alt,
  hero = false,
  title,
  description,
  href,
  cardStyle,
  imageStyle,
} = Astro.props

const maxHeight = hero ? 'max-h-[768px]' : 'max-h-[512px]'
const pb = hero ? 'pb-4' : ''
---

<a
  href={href}
  class={`artwork-card flex justify-center ${cardStyle}`}
  data-modal-target="artwork-modal"
>
  <Image
    src={src}
    alt={alt}
    class=`animate-artwork-card-image h-full w-auto opacity-0 ${pb} ${maxHeight} transition-transform duration-200 transform hover:scale-[101%] object-contain hover:cursor-pointer ${imageStyle}`
  />
</a>
