---
// src/components/Navbar.astro
import { Image } from 'astro:assets'
import WAVES_2 from '../content/images/portfolio/bubbles/ocean/WAVES_2.png'

const links = [
  { name: 'Portfolio', href: '/' },
  { name: 'Meet Joanne', href: '/about' },
  // { name: 'Comissions', href: '/comissions' },
]
---

<nav class="bg-white shadow-sm">
  <!-- Top Marquee Animation -->
  <div class="relative overflow-hidden">
    <div class="flex animate-marqueeLeft">
      <Image
        src={WAVES_2}
        alt="NavbarTop1"
        class="w-full h-3 object-cover object-[0%_30%] flex-shrink-0"
        loading="eager"
      />
      <Image
        src={WAVES_2}
        alt="NavbarTop2"
        class="w-full h-3 object-cover object-[0%_30%] flex-shrink-0"
        loading="eager"
      />
    </div>
  </div>
  <!-- Navigation Menu -->
  <div class="w-full lg:w-3/4 xl:w-3/5 mx-auto px-4 lg:px-12">
    <div class="flex justify-between h-16">
      <!-- Logo -->
      <div class="flex items-center">
        <a
          href="/"
          class="text-2xl font-bold text-gray-800 hover:text-sky-900 transition-colors"
          >Lady Loo Art</a
        >
      </div>
      <!-- Links for large screens -->
      <div class="hidden lg:flex items-center space-x-4">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="text-gray-700 hover:text-amber-400 transition-colors  px-3 py-2 rounded-md text-sm font-bold "
              onclick="loadVisibleImages()"
            >
              {link.name}
            </a>
          ))
        }
      </div>
      <!-- Mobile menu button -->
      <div class="-mr-2 flex lg:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500"
          aria-controls="mobile-menu"
          aria-expanded="false"
          onclick="document.getElementById('mobile-menu').classList.toggle('hidden')"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Bottom Marquee Animation -->
  <div class="relative overflow-hidden">
    <div class="flex animate-marqueeRight">
      <Image
        src={WAVES_2}
        alt="NavbarBottom1"
        class="w-full h-3 object-cover object-[0%_60%] flex-shrink-0"
        loading="eager"
      />
      <Image
        src={WAVES_2}
        alt="NavbarBottom2"
        class="w-full h-3 object-cover object-[0%_60%] flex-shrink-0"
        loading="eager"
      />
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="lg:hidden hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      {
        links.map((link) => (
          <a
            href={link.href}
            class="text-gray-700 hover:text-amber-400 block px-3 py-2 rounded-md text-base font-medium"
            onclick="loadVisibleImages()"
          >
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
</nav>
